.main {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 2rem;

    .main-banner {
        border-radius: 0.75rem;
        background-color: antiquewhite;
        width: 90%;
        height: 20rem;
        position: relative;

        .title {
            position: absolute;
            top: 25%;
            left: 2rem;
            transform: translateY(-25%);
            margin: 0;

            .m-05{
                margin: 0.5rem;
            }
        }
    }
}
