@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Raleway:wght@300;400;500&display=swap");
/*::::::::::::::::::::
::::  CONSTANTS   ::::
::::::::::::::::::::*/
/*::::::::::::::::::::
::::    STYLES    ::::
::::::::::::::::::::*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 2rem 1rem;
}

.main .main-banner {
  position: relative;
  border-radius: 0.75rem;
  background-image: url("../../img/bogota.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 20rem;
  margin: 1rem;
  -webkit-box-shadow: 3px 3px 9px #32323288;
          box-shadow: 3px 3px 9px #32323288;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.main .main-banner .fade {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  background-color: #32323288;
}

.main .main-banner .title {
  position: absolute;
  top: 20%;
  left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  margin: 0;
}

.main .main-banner .title .m-05 {
  margin: 0.5rem;
}

.main .main-banner .title .city {
  font-size: large;
}

.main .main-banner .data {
  position: absolute;
  bottom: 25%;
  left: 2rem;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  border-radius: 0.5rem;
  background-color: #232323bb;
  padding: 0.5rem;
}

.main .main-banner .data .data-item {
  margin: 0.5rem 0.25rem;
}

.main .main-banner .data .data-item .h5, .main .main-banner .data .data-item .temp {
  margin: 0.25rem;
}

.main .forecast {
  position: relative;
  border-radius: 0.75rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 20rem;
  margin: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 3px 3px 9px #32323288;
          box-shadow: 3px 3px 9px #32323288;
  color: #121212;
  font-family: "Montserrat", sans-serif;
}

.main .forecast .cast-title {
  display: block;
  margin: 1rem 0 0 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.main .forecast .cast-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ababab;
  margin: 1rem 0;
}

.main .forecast .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.25rem 0.25rem;
  padding: 0;
  width: 95%;
}

.main .forecast .days .sub-section {
  padding: 0.25rem;
}

.main .forecast .days .sub-section .day {
  margin: 1rem 0;
  font-size: large;
  color: #1e3dc4;
}

.main .forecast .days .sub-section .temp, .main .forecast .days .sub-section .temp-min, .main .forecast .days .sub-section .temp-max {
  margin: 0.5rem 0;
}

.main .forecast .days .sub-section .description {
  margin: 0;
}

.main .forecast .days .sub-section .temp-min {
  color: #1498d4;
}

.main .forecast .days .sub-section .temp-max {
  color: #bb4c2a;
}

.main .forecast .days .sub-section .temp {
  color: #777;
}

.main .forecast .days .sub-section:nth-child(1) {
  width: 30%;
}

.main .forecast .days .sub-section:nth-child(2), .main .forecast .days .sub-section:nth-child(3) {
  width: 10%;
}
/*# sourceMappingURL=styles.css.map */